<a href="https://colab.research.google.com/github/taetae991202/Practice_sklearn/blob/main/scailing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
import pandas as pd
import statsmodels.api as sm

housing = pd.read_csv('/content/drive/MyDrive/지능형시스템/housing.data', header=None, sep='\s+')
housing.columns = ['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX', 'PTRATIO', 'B', 'LSTAT','MEDV']
housing.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33,36.2

In [8]:
model1 = sm.OLS.from_formula("MEDV ~ " + "+".join(housing.columns), data=housing)
result1 = model1.fit()
print(result1.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                   MEDV   R-squared:                       1.000
Model:                            OLS   Adj. R-squared:                  1.000
Method:                 Least Squares   F-statistic:                 7.948e+30
Date:                Sat, 24 Jun 2023   Prob (F-statistic):               0.00
Time:                        11:14:46   Log-Likelihood:                 15261.
No. Observations:                 506   AIC:                        -3.049e+04
Df Residuals:                     491   BIC:                        -3.043e+04
Df Model:                          14
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept   1.765e-14   2.21e-14      0.797      0.426   -2.58e-14    6.12e-14
CRIM        5.486e-17   1.37e-16      0.400      0.689   -2.15e-16    3.24e-16
ZN         -9.368e-17   5.73e-17     -1.634      0.103   -2.06e-16     1.9e-17
INDUS         2.7e-16   2.54e-16      1.063      0.288   -2.29e-16    7.69e-16
CHAS        4.038e-15   3.59e-15      1.124      0.262   -3.02e-15    1.11e-14
NOX        -1.943e-14   1.61e-14     -1.206      0.229   -5.11e-14    1.22e-14
RM         -2.651e-15   1.87e-15     -1.421      0.156   -6.32e-15    1.02e-15
AGE         1.305e-16   5.45e-17      2.393      0.017    2.34e-17    2.38e-16
DIS        -5.551e-16   8.68e-16     -0.639      0.523   -2.26e-15    1.15e-15
RAD         3.157e-16    2.8e-16      1.128      0.260   -2.34e-16    8.65e-16
TAX        -2.895e-17   1.57e-17     -1.844      0.066   -5.98e-17    1.89e-18
PTRATIO    -4.163e-16   5.69e-16     -0.732      0.464   -1.53e-15    7.01e-16
B           1.014e-16   1.12e-17      9.032      0.000    7.93e-17    1.23e-16
LSTAT       -2.22e-16   2.31e-16     -0.961      0.337   -6.76e-16    2.32e-16
MEDV           1.0000   1.86e-16   5.37e+15      0.000       1.000       1.000
==============================================================================
Omnibus:                      193.072   Durbin-Watson:                   0.173
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              574.603
Skew:                           1.867   Prob(JB):                    1.68e-125
Kurtosis:                       6.648   Cond. No.                     1.59e+04
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.59e+04. This might indicate that there are
strong multicollinearity or other numerical problems.

# 조건수

1. 스케일링을 해주어야함.
2. 다중 공선성(독립 변수 간에 상관관계가 큰 경우)이 큰 경우에는 차원축소를 해주어야함.